body {
  font-size: 16px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}
@media screen and (min-width: 1440px) {
  .header-bottom {
    background-position: 55% 0% !important;
  }
  section {
    padding: 40px 300px;
  }
  .section-1 .icon-wrapper {
    width: 100%;
  }
  .navigation {
    padding: 0 300px;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 10px;
  }
  .header-bottom {
    background-image: none !important;
  }
  section {
    padding: 0px 1rem !important;
  }
  .section-1 .icon-wrapper {
    width: 100%;
  }
  .navigation {
    padding: 0 50px;
    padding: 0px 1rem !important;
  }
  .navigation .logo > a > img {
    height: 40px;
  }
  .section-2 .icon-wrapper {
    display: flex;
    flex-direction: column !important;
  }
}
::placeholder {
  padding-left: 0.5rem;
  text-align: left;
  color: #a5a5a5;
  text-transform: capitalize;
}
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
ul {
  list-style: none;
}
a,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: inherit;
}
input {
  border: solid 0.15rem #a29f9f;
  border-radius: 0.4rem;
}

.button-one {
  background-color: #f91c85;
  color: #ffffff;
  width: 15rem;
  height: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 5px 0px #888888;
  text-transform: uppercase;
  white-space: nowrap;
}

.button-four {
  background-color: #e5ab2c !important;
  color: #fff !important;
}
.button-two {
  background-color: #fff;
  color: #000;
  width: 15rem;
  height: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 5px 0px #888;
  border: solid 0.15rem #43c0f6;
  text-transform: uppercase;
}
.button-three {
  background-color: #e5ab2c;
  color: #fff;
  width: 15rem;
  height: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 5px 0px #888;
  text-transform: uppercase;
}
.button-four {
  background-color: #43c0f6;
  color: #fff;
  width: 15rem;
  height: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 5px 0px #888;
  border: solid 0.15rem #43c0f6;
  text-transform: uppercase;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5fbfe;
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 15px;
  background-color: #f5fbfe;
}
::-webkit-scrollbar-thumb {
  background-color: #43c0f6;
  border-radius: 20px;
  background-clip: padding-box;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-even {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#login-signup-switch .tabs .tab-list {
  display: flex;
  justify-content: space-evenly;
}
#login-signup-switch .tabs .tab-list .tab-list-active:first-child {
  border-bottom: solid 2px #43c0f6;
}
#login-signup-switch .tabs .tab-list .tab-list-active {
  border-bottom: solid 2px #f91c85;
}
#login-signup-switch .tabs .tab-list .tab-list-item {
  display: inline-block;
  list-style: none;
}
#login-signup-switch .tabs .tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
